extends layout

block content
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect('/'); //    var socket = io.connect('http://localhost:3000');
    console.log('refresh');
    socket.on("refresh", function (data) {
      location.reload();
    });
    function FuncJugar(accion){
      socket.emit("play",accion,'#{game._id}');
    }

  if(!game.player2.name)
      .container2  
        h2 ESPERANDO AL OTRO JUGADOR :V
  if(game.player2.name)  
  
    .container3    
      p PUNTOS: 
        p #{game.player1.name} : #{game.currentRound.score[0]} 
        p #{game.player2.name} : #{game.currentRound.score[1]} 
          
    .container2  
      p Cartas en mesa:
      p #{game.player1.name}:
        if(jugadas11!=undefined)
          img(src= '#{jugadas11}',class="cartajugada")
        if(jugadas12!=undefined)
          img(src= '#{jugadas12}',class="cartajugada")
        if(jugadas13!=undefined)
          img(src= '#{jugadas13}',class="cartajugada")
      p #{game.player2.name}:
        if(jugadas21!=undefined)
          img(src= '#{jugadas21}',class="cartajugada")
        if(jugadas22!=undefined)
          img(src= '#{jugadas22}',class="cartajugada")
        if(jugadas23!=undefined)
          img(src= '#{jugadas23}',class="cartajugada")  


        if(usuario == game.currentRound.currentTurn.name)
            p PUNTOS PARA EL ENVIDO: #{penvido}
            p Que desea hacer????
                
                if(estadoCantarTruco)  
                  //form(role='form', action="/cantarTruco",method="post")
                  // input.form(type='hidden', name="idgame",value='#{game._id}')
                  button.btn.btn-default(onclick='FuncJugar("Truco")') Cantar Truco

                if(estadoCantarEnvido)  
                  //form(role='form', action="/cantarEnvido",method="post")
                    //input.form(type='hidden', name="idgame",value='#{game._id}')
                  button.btn.btn-default(onclick='FuncJugar("Envido")') Cantar Envido
                
                if(estadoQuiero)  
                  //- form(role='form', action="/quiero",method="post")
                  //-   input.form(type='hidden', name="idgame",value='#{game._id}')
                  button.btn.btn-default(onclick='FuncJugar("Quiero")') QUIERO
                
                if(estadoNoQuiero)  
                  //form(role='form', action="/no-quiero",method="post")
                    //input.form(type='hidden', name="idgame",value='#{game._id}')
                  button.btn.btn-default(onclick='FuncJugar("NoQuiero")') NO QUIERO
                

                &nbsp;
                p Cartas para jugar
                  if(c1jt)
                    //form(role='form', action="/jugarcarta1",method="post",class="formulario")
                      //input.form(type='hidden', name="idgame",value='#{game._id}')
                      //input.form(type='image', src='#{c1jt}')
                    input(type="image",src='#{c1jt}',name="j1",onclick='FuncJugar("JugarCarta1")')
                  if(c2jt)
                    //- form(role='form', action="/jugarcarta2",method="post",class="formulario")
                    //-   input.form(type='hidden', name="idgame",value='#{game._id}')
                    //-   input.form(type='image', src='#{c2jt}')
                    input(type="image",src='#{c2jt}',onclick='FuncJugar("JugarCarta2")')

                  if(c3jt)
                    //- form(role='form', action="/jugarcarta3",method="post",class="formulario")
                    //-   input.form(type='hidden', name="idgame",value='#{game._id}')
                    //-   input.form(type='image', src='#{c3jt}')
                    input(type="image",src='#{c3jt}',onclick='FuncJugar("JugarCarta3")')

        if(usuario != game.currentRound.currentTurn.name)      
          p No es tu turno: Espera a que el otro jugador juege!
