extends layout

block content
  
  
  p <h3>DATOS ACTUALES DEL JUEGO
    p PUNTOS: 
    p #{game.player1.name} : #{game.currentRound.score[0]} 
    p #{game.player2.name} : #{game.currentRound.score[1]} 
    <hr>
    <h3>EL TURNO ES DE: #{game.currentRound.currentTurn.name}  <h3>
    <hr>
  p Cartas en mesa:
  &nbsp; 
  p #{game.player1.name}:
    img(src= '#{jugada11}')
    img(src= '#{jugada12}')
    img(src= '#{jugada13}')
    &nbsp; #{game.player2.name}:
    img(src= '#{jugada21}')
    img(src= '#{jugada22}')
    img(src= '#{jugada23}')
    


  
  &nbsp; PUNTOS PARA EL ENVIDO: #{penvido}
  

  p Que desea hacer????
      
      if(estadoCantarEnvido)  
      form(role='form', action="/cantarTruco",method="post", style='max-width: 300px;',)
        input.form(type='hidden', name="idgame",value='#{game._id}')
        button.btn.btn-default(type='submit') Cantar Truco

      
      if(estadoCantarEnvido)  
        form(role='form', action="/cantarEnvido",method="post", style='max-width: 300px;',)
          input.form(type='hidden', name="idgame",value='#{game._id}')
          button.btn.btn-default(type='submit') Cantar Envido
      
      if(estadoQuiero)  
        form(role='form', action="/quiero",method="post", style='max-width: 300px;',)
          input.form(type='hidden', name="idgame",value='#{game._id}')
          button.btn.btn-default(type='submit') QUIERO
      &nbsp;
      if(estadoNoQuiero)  
        form(role='form', action="/no-quiero",method="post", style='max-width: 300px;',)
          input.form(type='hidden', name="idgame",value='#{game._id}')
          button.btn.btn-default(type='submit') NO QUIERO
      


      form(role='form', action="/jugarcarta1",method="post")
        input.form(type='hidden', name="idgame",value='#{game._id}')
        input.form(type='image', src='#{c1jt}')
        
      

      form(role='form', action="/jugarcarta2",method="post")
        input.form(type='hidden', name="idgame",value='#{game._id}')
        input.form(type='image', src='#{c2jt}')

      form(role='form', action="/jugarcarta3",method="post")
        input.form(type='hidden', name="idgame",value='#{game._id}')
        input.form(type='image', src='#{c3jt}')